<div class="container">
    <section class="main-section">
        <section class="inner-section">
            <div class="page-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="alternate"> {{ 'faq.Heading' | translate }}</h1>
                    </div>
                </div>
            </div>
            <div class="Common-Help-FAQs-wrapper" id="faqs">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        
                        <ul class="collapsible-panel-wrapper list-unstyled list"><li class="collapsible-panel-block">
                                <a class="collapsed collapsible-header-panel collapsed faq-question" role="button" data-toggle="collapse" href="#Q1" aria-expanded="false" aria-controls="Q1">
                                    {{ 'faq.Citizenportal' | translate }}
                                </a>
                                <div class="collapse" id="Q1">
                                    <div class="collapsible-contents-panel faq-answer">
                                       {{'faq.Citizenportalcontent' | translate}}
                                    </div>
                                </div>
                            </li>
                            <li class="collapsible-panel-block">
                                <a class="collapsed collapsible-header-panel collapsed faq-question" role="button" data-toggle="collapse" href="#Q18" aria-expanded="false" aria-controls="Q18">
                                    {{ 'faq.PAyment' | translate }}
                                </a>
                                <div class="collapse" id="Q18">
                                    <div class="collapsible-contents-panel faq-answer">
                                        {{ 'faq.PaymentDetails' | translate }}                                    </div>
                                </div>
                            </li><li class="collapsible-panel-block">
                                <a class="collapsed collapsible-header-panel collapsed faq-question" role="button" data-toggle="collapse" href="#Q19" aria-expanded="false" aria-controls="Q19">
                                    {{ 'faq.how' | translate }} 
                                                        </a>
                                <div class="collapse" id="Q19">
                                    <div class="collapsible-contents-panel faq-answer">
                                        {{ 'faq.howdetails' | translate }} </div>
                                </div>
                            </li><li class="collapsible-panel-block">
                                <a class="collapsed collapsible-header-panel collapsed faq-question" role="button" data-toggle="collapse" href="#Q20" aria-expanded="false" aria-controls="Q20">
                                    {{ 'faq.what' | translate }}    </a>
                                <div class="collapse" id="Q20">
                                    <div class="collapsible-contents-panel faq-answer">
                                        {{ 'faq.whatdetails' | translate }} </div>
                                </div>
                            </li></ul>
                    </div>
                    
                </div>
            </div>
        </section>
    </section>
</div>