<div class="page-wrapper innerpages mar-t30" id="dvMainBody">
    <div class="container">
        <section class="main-section with-min-height">
            <section class="inner-section">
                <div id="dvUSignup">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12s col-lg-12">
                            <div class="row clearfix">
                                <h3>Amulgamation|ಅಮಲ್ಗಮೇಷನ್</h3>
                                <form [formGroup]="propertysearch" (ngSubmit)="searchPid()">
                                    <div class="form-group col-lg-4">
                                        <label>{{ 'PID' | translate }}</label>
                                        <input autocomplete="off" class="form-control" name="PID" formControlName="PID"
                                            title="PID" type="text" value="">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="drpFinYear">{{'billyear' | translate}}</label>
                                        <select class="form-control" id="drpFinYear" formControlName="Assyear"
                                            name="FinYear">
                                            <option *ngFor="let year of AssessmentYearlst" [value]="year">{{ year }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <br>
                                        <button class="button-control" id="btnSearch" type="submit"
                                            [disabled]="propertysearch.invalid">
                                            <span class="fa fa-search pad-r5"></span>{{ 'search' | translate }}
                                        </button>
                                    </div>
                                </form>
                            </div>



                            <form [formGroup]="AmulgamationForm" *ngIf="AmulgamationForm" (ngSubmit)="onSubmit()">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading326">
                                            <div class="panel-title">
                                                <a role="button" [ngClass]="{'disabled-link': !attachdata}"
                                                    data-toggle="collapse" data-parent="#accordion" href="#collapse326"
                                                    aria-expanded="true" aria-controls="collapse326">Property
                                                    Amalgamation</a>
                                            </div>
                                        </div>
                                        <div id="collapse326" [ngClass]="{'in': attachdata}"
                                            class="panel-collapse collapse in" role="tabpanel"
                                            aria-labelledby="heading326" aria-expanded="true">
                                            <div class="panel-body">
                                                <div class="row clearfix">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.CHOOSE_NOOF_PID_AMULGUMATION'|translate}}</label>
                                                            <div class="horizontal-radio-group">
                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID1"
                                                                        id="GovtDevelopmentAuthID1"
                                                                        formControlName="GovtDevelopmentAuthID1"
                                                                        value="2PIDs">
                                                                    <label for="GovtDevelopmentAuthID1">2PIDs</label>
                                                                </div>
                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID1"
                                                                        id="GovtDevelopmentAuthID2"
                                                                        formControlName="GovtDevelopmentAuthID1"
                                                                        value="3PIDs">
                                                                    <label for="GovtDevelopmentAuthID2">3PIDs</label>
                                                                </div>
                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID1"
                                                                        id="GovtDevelopmentAuthID3"
                                                                        formControlName="GovtDevelopmentAuthID1"
                                                                        value="4PIDs">
                                                                    <label for="GovtDevelopmentAuthID3">4PIDs</label>
                                                                </div>
                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID1"
                                                                        id="GovtDevelopmentAuthID4"
                                                                        formControlName="GovtDevelopmentAuthID1"
                                                                        value="5PIDs">
                                                                    <label for="GovtDevelopmentAuthID4">5PIDs</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.ENTER_PID'|translate}}</label>
                                                            <input type="number" name="PID" id="" formControlName="PID"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3" style="margin-top: 22px;">
                                                        <button type="submit" class="btn btn-success">Search</button>
                                                    </div>
                                                </div>
                                                <button role="button" [disabled]="!checkFormValidity()"
                                                    class="btn btn-primary" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse336" aria-expanded="false"
                                                    aria-controls="collapse336">Next</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default ">
                                        <div class="panel-heading" role="tab" id="heading336">
                                            <div class="panel-title">
                                                <a [ngClass]="{'disabled-link': !checkFormValidity()}" class="collapsed"
                                                    role="button" data-toggle="collapse" data-parent="#accordion"
                                                    href="#collapse336" aria-expanded="false"
                                                    aria-controls="collapse336">
                                                    ಮಾಲೀಕರು / ವರ್ಗಾಯಿಸಿದವರ / ಮಾರಾಟ ಮಾಡುವವರ</a>
                                            </div>
                                        </div>
                                        <div id="collapse336" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="heading336" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.FIRST_NAME'|translate}}</label>
                                                            <input type="text" name="Owner_Name_Eng"
                                                                id="TransferEnglishFirstName" class="form-control"
                                                                formControlName="Owner_Name_Eng">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.HUSBAND/FATHER
                                                                NAME'|translate}}</label>
                                                            <input type="text" name="Owner_HusFather_Eng"
                                                                id="TransferEnglishFatherName" class="form-control"
                                                                formControlName="Owner_HusFather_Eng">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">ಹೆಸರು:</label>
                                                            <input type="text" id="TransferFirstName"
                                                                class="form-control" formControlName="Owner_Name_kan"
                                                                name="Owner_Name_kan">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="">ಗಂಡ/ತಂದೆಯ ಹೆಸರು:</label>
                                                            <input type="text" id="TransferFatherName"
                                                                class="form-control"
                                                                formControlName="Owner_HusFather_kan"
                                                                name="Owner_HusFather_kan">

                                                        </div>
                                                    </div>



                                                    <button [disabled]="!checkFormValidity1()" role="button"
                                                        class="btn btn-primary" data-toggle="collapse"
                                                        data-parent="#accordion" href="#collapse337"
                                                        aria-expanded="false" aria-controls="collapse337">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default ">
                                        <div class="panel-heading" role="tab" id="heading336">
                                            <div class="panel-title">
                                                <a [ngClass]="{'disabled-link': !checkFormValidity1()}"
                                                    class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse337" aria-expanded="false"
                                                    aria-controls="collapse337">
                                                    ಸಂಪರ್ಕಕ್ಕಾಗಿ ಅರ್ಜಿದಾರರ ಅಂಚೆ ವಿಳಾಸ
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse337" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="heading336" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.NAME'| translate}}</label>
                                                            <input type="text" name="Contact_Name" id="TPAName"
                                                                class="form-control"
                                                                formControlName="Contact_Name"><!---TPA={Transfer Post Address}-->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.ADDRESS'|
                                                                translate}}</label>
                                                            <textarea name="Contact_Addr" id="TPAAddress" rows="1"
                                                                class="form-control"
                                                                formControlName="Contact_Addr"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.CITY'|translate}}</label>
                                                            <textarea name="City" id="TPAAddress" rows="1"
                                                                class="form-control" formControlName="City"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <span style="color: red;">*</span>
                                                            <label
                                                                for="">{{'AmulgamationForm.MOBILE_NUMBER_OF_APPLICANT'|translate
                                                                }}</label>
                                                            <input type="number" name="Owner_MobileNo" id="TPANumber"
                                                                class="form-control" formControlName="Owner_MobileNo">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.APPLICANTS_PORTRAIT'|
                                                                translate}}</label>
                                                            <input type="file" name="Applicant_Photo" id="TPAPhoto"
                                                                class="form-control" formControlName="Applicant_Photo">

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.OWNER_PHOTO' |
                                                                translate}}</label>
                                                            <input type="file" name="Owner_Photo" id="TPAPhoto1"
                                                                class="form-control" formControlName="Owner_Photo">

                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.HOUSE_NO'|translate}}:</label>
                                                            <input type="text" name="HouseNo" id=""
                                                                formControlName="HouseNo" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.PROPERTY_TAX_REGISTRATION_SERIAL_NO'|translate}}</label>
                                                            <input type="text" name="SerialNo" id=""
                                                                class="form-control" formControlName="SerialNo">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <span style="color: red;">*</span>
                                                            <label for="">{{'AmulgamationForm.TRANSFER_TYPE' |
                                                                translate}}</label>
                                                            <select name="MutationType_Id" id="test6"
                                                                class="form-control" formControlName="MutationType_Id">
                                                                <option value="0">select</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>


                                                <button [disabled]="!checkFormValidity2()" role="button"
                                                    class="btn btn-primary" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse338" aria-expanded="false"
                                                    aria-controls="collapse338">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default ">
                                        <div class="panel-heading" role="tab" id="heading336">
                                            <div class="panel-title">
                                                <a [ngClass]="{'disabled-link': !checkFormValidity2()}"
                                                    class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse338" aria-expanded="false"
                                                    aria-controls="collapse338">
                                                    ಐಟಂ 3ರಲ್ಲಿನ ಆಸ್ತಿಯ ವಿವರ</a>
                                            </div>
                                        </div>
                                        <div id="collapse338" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="heading336" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="row">


                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.AREA' |
                                                                translate}}</label>
                                                            <div class="horizontal-radio-container"
                                                                style="border: 2px solid black;">
                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID"
                                                                        id="GovtDevelopmentAuthID1"
                                                                        formControlName="GovtDevelopmentAuthID"
                                                                        value="ಅಭಿವೃದ್ಧಿ ಪ್ರಾಧಿಕಾರ">
                                                                    <label for="GovtDevelopmentAuthID1">ಅಭಿವೃದ್ಧಿ
                                                                        ಪ್ರಾಧಿಕಾರ</label>
                                                                </div>

                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID"
                                                                        id="GovtDevelopmentAuthID2"
                                                                        formControlName="GovtDevelopmentAuthID"
                                                                        value="ಕ . ಗೃ . ಮಂಡಳಿಯಿಂದ">
                                                                    <label for="GovtDevelopmentAuthID2">ಕ . ಗೃ .
                                                                        ಮಂಡಳಿಯಿಂದ</label>
                                                                </div>

                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID"
                                                                        id="GovtDevelopmentAuthID3"
                                                                        formControlName="GovtDevelopmentAuthID"
                                                                        value="ರೆವಿನ್ಯೂ ಬಡಾವಣ">
                                                                    <label for="GovtDevelopmentAuthID3">ರೆವಿನ್ಯೂ
                                                                        ಬಡಾವಣ</label>
                                                                </div>

                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID"
                                                                        id="GovtDevelopmentAuthID4"
                                                                        formControlName="GovtDevelopmentAuthID"
                                                                        value="ಗ್ರಾಮ ಠಾಣಾ">
                                                                    <label for="GovtDevelopmentAuthID4">ಗ್ರಾಮ
                                                                        ಠಾಣಾ</label>
                                                                </div>

                                                                <div>
                                                                    <input type="radio" name="GovtDevelopmentAuthID"
                                                                        id="GovtDevelopmentAuthID5"
                                                                        formControlName="GovtDevelopmentAuthID"
                                                                        value="ಇತರೆ">
                                                                    <label for="GovtDevelopmentAuthID5">ಇತರೆ</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row">

                                                    <div class="col-md-4">

                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.IF_THERE_IS_A_VACCANCY'|translate}}</label>
                                                            <div class="form-control">
                                                                <input type="radio" name="PhysicalProperty"
                                                                    id="emptyname1" formControlName="PhysicalProperty"
                                                                    value="OPEN LAND">
                                                                <label>OPEN LAND</label>
                                                                <input type="radio" name="PhysicalProperty"
                                                                    id="emptyname2" formControlName="PhysicalProperty"
                                                                    value="CONSTRUCTED">
                                                                <label>CONSTRUCTED</label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.MESURE_LENGTH_OR_WIDTH'|translate}}</label>
                                                            <div class="form-control">
                                                                <input type="radio" name="UnitType"
                                                                    id="sizevarientheight1" formControlName="UnitType"
                                                                    value="Feet">
                                                                <label for="">Feet</label>
                                                                <input type="radio" name="UnitType"
                                                                    id="sizevarientheight2" formControlName="UnitType"
                                                                    value="Meter">
                                                                <label for="">Meter</label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.PROPERTY_MODEL'|translate}}</label>
                                                            <select name="" id="test5" class="form-control"
                                                                formControlName="test5">
                                                                <option value="0">select</option>
                                                                <option value="1">Assigned</option>
                                                                <option value="2">UnAssigned</option>

                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.DATE_OF_CONSTRUJCTION'|translate}}</label>
                                                            <input type="date" class="form-control"
                                                                name="Construction_Date"
                                                                formControlName="Construction_Date"
                                                                placeholder="Date_of_construction building">
                                                        </div>
                                                    </div>


                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.ASSIGNMENT_YEAR'|translate}}</label>
                                                               <select name="Assessment_Year" id="" formControlName="Assessment_Year" class="form-control">
                                                               <option *ngFor="let Year of AssessmentYears" [value]="Year">{{Year}}</option>
                                                               </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.RR_Number'|translate}}</label>
                                                            <input type="number" class="form-control" name="RR_No"
                                                                formControlName="RR_No">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.NEW_RR_NO'|translate}}</label>
                                                            <input type="number" class="form-control" name="New_RR_No"
                                                                formControlName="New_RR_No">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.PAGE_NO'|translate}}</label>
                                                            <input type="number" name="Page_No" id=""
                                                                class="form-control" formControlName="Page_No">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.NEW_PAGE_NO'|translate}}</label>
                                                            <input type="number" name="New_Page_No" id=""
                                                                class="form-control" formControlName="New_Page_No">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{ 'AmulgamationForm.PROPERTY_CLASS' | translate }}</label>
                                                            <select id="Property_Class_Id" class="form-control" formControlName="Property_Class_Id">
                                                                <option *ngFor="let classlist of PropertyClassList" [value]="classlist?.classname">{{ classlist?.classname }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="">{{'AmulgamationForm.PROPERTY_USES_ID'|translate}}</label>
                                                                <select id="Property_Usage_Id" class="form-control" formControlName="Property_Usage_Id">
                                                                    <option *ngFor="let items of PropertyUsagelists" [value]="items?.usagename">{{ items?.usagename
                                                                        }}</option>
                                                                </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.OLD_ASSIGNMENT_NO'|translate}}</label>
                                                            <input type="number" name="Old_AssessmentNo" id=""
                                                                class="form-control" formControlName="Old_AssessmentNo">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="">{{'AmulgamationForm.NEW_ASSIGNMENT_NO'|translate}}</label>
                                                            <input type="number" name="New_AssessmentNo" id=""
                                                                class="form-control" formControlName="New_AssessmentNo">
                                                        </div>
                                                    </div>

                                                </div>
                                                <h4 style="text-align: center;">Old Site Area Details</h4>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th></th>
                                                                            <th>Length</th>
                                                                            <th></th>
                                                                            <th>Breadth</th>
                                                                            <th></th>
                                                                            <th>TotalArea</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>ಎ)</td>
                                                                            <td>{{ 'AmulgamationForm.TOTAL_PLOT_AREA' |
                                                                                translate }}</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="PlotArea_Length"
                                                                                    (input)="calculateTotalPlotArea()">
                                                                            </td>
                                                                            <td>x</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="PlotArea_Breadth"
                                                                                    (input)="calculateTotalPlotArea()">
                                                                            </td>
                                                                            <td>=</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="TotalPlotArea"
                                                                                    [value]="totalArea1"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>ಬಿ)</td>
                                                                            <td>{{
                                                                                'AmulgamationForm.BUILDING_TOTAL_AREA' |
                                                                                translate }}</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="BuildUp_Length"
                                                                                    (input)="calculateTotalBuildingArea()">
                                                                            </td>
                                                                            <td>x</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="BuildUp_Breadth"
                                                                                    (input)="calculateTotalBuildingArea()">
                                                                            </td>
                                                                            <td>=</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="TotalBuildUpArea"
                                                                                    [value]="totalArea2"></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h4 style="text-align: center;">New Site Area Details</h4>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th></th>
                                                                            <th>Length</th>
                                                                            <th></th>
                                                                            <th>Breadth</th>
                                                                            <th></th>
                                                                            <th>TotalArea</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>ಎ)</td>
                                                                            <td>{{ 'AmulgamationForm.TOTAL_PLOT_AREA' |
                                                                                translate }}</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="New_PlotArea_Length"
                                                                                    (input)="calculateTotalPlotArea1()">
                                                                            </td>
                                                                            <td>x</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="New_PlotArea_Breadth"
                                                                                    (input)="calculateTotalPlotArea1()">
                                                                            </td>
                                                                            <td>=</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="New_TotalPlotArea"
                                                                                    [value]="totalArea3"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>ಬಿ)</td>
                                                                            <td>{{
                                                                                'AmulgamationForm.BUILDING_TOTAL_AREA' |
                                                                                translate }}</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="New_BuildUp_Length"
                                                                                    (input)="calculateTotalBuildingArea1()">
                                                                            </td>
                                                                            <td>x</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="New_BuildUp_Breadth"
                                                                                    (input)="calculateTotalBuildingArea1()">
                                                                            </td>
                                                                            <td>=</td>
                                                                            <td><input type="text" class="form-control"
                                                                                    formControlName="New_TotalBuildUpArea"
                                                                                    [value]="totalArea4"></td>
                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p style="color: red;">Note : If you don't know length and breadth then
                                                    enter total area.</p>
                                                <br>



                                                <button [disabled]="!checkFormValidity3()" role="button"
                                                    class="btn btn-primary" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse339" aria-expanded="false"
                                                    aria-controls="collapse339">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default ">
                                        <div class="panel-heading" role="tab" id="heading336">
                                            <div class="panel-title">
                                                <a [ngClass]="{'disabled-link': !checkFormValidity3()}"
                                                    class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse339" aria-expanded="false"
                                                    aria-controls="collapse339">
                                                    ಲಗತ್ತಿಸಿದ ದಾಖಲೆಗಳ ಪಟ್ಟಿ (ಸಂಬಂಧಿಸಿದ ಚೌಕದಲ್ಲಿ ಗುರುತು ಮಾಡಿ)</a>
                                            </div>
                                        </div>
                                        <div id="collapse339" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="heading336" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h4>Mandatory Attachments</h4>
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Upload</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let attachment of mandatoryAttachments">
                                                                    <td>{{ attachment.applicationformattachmentName }}
                                                                    </td>
                                                                    <td>
                                                                        <input type="file"
                                                                            (change)="onFileSelected($event, attachment)">

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <h4>Optional Attachments</h4>
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Upload</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let attachment of optionalAttachments">
                                                                    <td>{{ attachment.applicationformattachmentName }}
                                                                    </td>
                                                                    <td>
                                                                        <input type="file"
                                                                            (change)="onFileSelected($event, attachment)">

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div style="text-align: right;">
                                                    <button type="submit" role="submit" class="btn btn-primary"
                                                        style="margin-right: 10px;">Submit</button>
                                                    <button type="" class="btn btn-success"
                                                        style="margin-right: 10px;">Print</button>
                                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                <!-- <button type="submit" [disabled]="AmulgamationForm.invalid">Submit</button> -->
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>