.horizontal-radio-group {
  border: 2px solid rgb(58, 10, 10);
}

.horizontal-radio-group > div {
  display: inline-block;
  margin-right: 10px; /* Adjust as needed */
}
.disabled-link {
  pointer-events: none;  /* Prevent the link from being clickable */
  color: gray;           /* Change the color to indicate it's disabled */
  /* Add any other styling to indicate the disabled state */
}
.table-responsive2
{
max-height: 200px; /* Adjust the max height as needed */
overflow-y: auto;
}
.file-upload {
position: relative;
overflow: hidden;
display: inline-block;
}

.file-upload input[type='file'] {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}
.horizontal-radio-container {
display: flex;
flex-direction: row;
}

.horizontal-radio-container div {
margin-right: 10px; /* Adjust as needed for spacing between radio buttons */
}
