<div class="container mar-t30" style="width: 90%;">
    <section class="main-section ">
        <section class="inner-section">
            <div class="form">
                <div class="page-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-heading">

                            </div>
                        </div>

                    </div>
                </div>
                <!--<p class="hidden-xs">Welcome to TUMAKURU CITY CORPORATION's Virtual Civic Center, which is simple and convenient way for citizens to access various services from anywhere at anytime. The services of Virtual Civic Center can be accessed without paying any additional charge.</p>-->

                <div class="onlineservices " id="onlineservies">

                    <div class="clearfix">
                        <div class="text-center page-heading">
                            <h1 class="alternate">Online Applications</h1>
                        </div>

                    </div>

                    <ul class="list-unstyled onlineservices-app-wrapper list">
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-1">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'sasdeclaration' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"[routerLink]="['/SasDeclaration']"
                                                aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-1">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'PropertyRegistration' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"[routerLink]="['/Propertyregistration']" [queryParams]="{ form: 'propertyreg' }"
                                                aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-28">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'Mutation' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <a type="button" class="btn btn-default dropdown-toggle" [routerLink]="['/Propertyregistration']" [queryParams]="{ form: 'mutation' }"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-28">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'NewTapreg' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <a type="button" class="btn btn-default dropdown-toggle" [routerLink]="['/Propertyregistration']" [queryParams]="{ form: 'podiforms' }"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-42">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'NewUgdReg' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div1">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'newTradeLicense' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'ViewDetails' | translate}}</span>

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div3">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'form3app' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div6">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'podi' | translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"   [routerLink]="['/Podi']"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div7">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'Siteareachange' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div7">

                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'Digifilepayment' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span>

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </section>

    </section>
</div>