<div class="container mar-t30" style="width: 90%;">
    <section class="main-section ">
        <section class="inner-section">
            <div class="form">
                <div class="page-heading">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-heading">

                            </div>
                        </div>

                    </div>
                </div>
                <!--<p class="hidden-xs">Welcome to TUMAKURU CITY CORPORATION's Virtual Civic Center, which is simple and convenient way for citizens to access various services from anywhere at anytime. The services of Virtual Civic Center can be accessed without paying any additional charge.</p>-->

                <div class="onlineservices " id="onlineservies">

                    <div class="clearfix">
                        <div class="text-center page-heading">
                            <h1 class="alternate">{{'onlineservices' | translate}}</h1>
                        </div>

                    </div>

                    <ul class="list-unstyled onlineservices-app-wrapper list">
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-1">
                                    <div class="app-icon-alt">

                                        <img id="Ptaxicon" src="assets/IconsofServices/ptax@2x.png" alt="Property Tax"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Ptaxicon2" src="assets/IconsofServices/ptax@2x.png" alt="Property Tax"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'PROPERTYTAX' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'PayNow' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        routerLink="/Search">{{'ViewAndPay' | translate}}</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="Printduplicatereciept.aspx">{{'GetDuplicateReceipt' |
                                                        translate}}</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-28">
                                    <div class="app-icon-alt">

                                        <img id="Wtaxicon" src="assets/IconsofServices/water@2x.png" alt="watertax RC"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Watxicon" src="assets/IconsofServices/water@2x.png" alt="watertax RC"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'WaterCharges' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"  routerLink="/WaterSearch"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'PayNow' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="watertax1.aspx">{{'ViewAndPay' | translate}}</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="Printduplicatereciept.aspx">{{'GetDuplicateReceipt' |
                                                        translate}}</a></li>


                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-42">
                                    <div class="app-icon-alt">

                                        <img id="Ugdimg" src="assets/IconsofServices/ugd@2x.png" alt="UGD"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Ugdimg2" src="assets/IconsofServices/ugd@2x.png" alt="UGD"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'ugdCharges' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle" routerLink="/UGD">

                                                <span>{{'PayNow' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-42">
                                    <div class="app-icon-alt">

                                        <img id="Ugdimg" src="assets/IconsofServices/grievance.png" alt="UGD"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Ugdimg2" src="assets/IconsofServices/grievance.png" alt="UGD"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'grievance' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" [routerLink]="['/grievance']"  class="btn btn-default dropdown-toggle">
                                                <span>{{'Lodge' | translate}}</span>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="serviceBox-3">
                                    <div class="app-icon-alt">

                                        <img id="Allinoneimg" src="assets/IconsofServices/allinone@2x.png"
                                            alt="Water Meter" style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Allinoneimg3" src="assets/IconsofServices/allinone@2x.png"
                                            alt="Water Meter" style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">All In One</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'PayNow' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="Allinonesearch.aspx">{{'ViewAndPay' | translate}}</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div1">
                                    <div class="app-icon-alt">

                                        <img id="Trdlcncimg" src="assets/IconsofServices/trade@2x.png"
                                            alt="Tradelicence" style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image2" src="assets/IconsofServices/trade@2x.png" alt="Tradelicence"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'TradeLicense' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'ViewDetails' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="Tradelicence1.aspx">{{'ViewAndPay' | translate}}</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div2">
                                    <div class="app-icon-alt">

                                        <img id="Image3" src="assets/IconsofServices/rent@2x.png" alt="Building rent"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Bldngrentimg" src="assets/IconsofServices/rent@2x.png"
                                            alt="Building rent" style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'Buildingrent' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'PayNow' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a role="menuitem" tabindex="-1"
                                                        href="buildingrent1.aspx">{{'ViewAndPay' | translate}}</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div3">
                                    <div class="app-icon-alt">

                                        <img id="Filetackingimg" src="assets/IconsofServices/file@2x.png"
                                            alt="File Tracking" style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image4" src="assets/IconsofServices/file@2x.png" alt="File Tracking"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'FileTracking' | translate}}
                                        </h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'ViewDetails' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a role="menuitem" tabindex="-1"
                                                        href="Filetrack1.aspx">{{'TrackFile' | translate}}</a></li>
                                                <li class="divider"></li>
                                                <li><a role="menuitem" tabindex="-1"
                                                        href="Filetrack1.aspx">{{'Checkfilestatuse' | translate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div4">
                                    <div class="app-icon-alt">

                                        <img id="Onlinesrvsimg" src="assets/IconsofServices/online@2x.png"
                                            alt="online Services" style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image5" src="assets/IconsofServices/online@2x.png"
                                            alt="online Services" style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'OnlineApplication' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Applynow' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a role="menuitem" tabindex="-1"
                                                        [routerLink]="['/OnlineApplication']">{{'OnlineApplication' |
                                                        translate}}</a></li>



                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div5">
                                    <div class="app-icon-alt">

                                        <img id="Image6" src="assets/IconsofServices/printable@2x.png" alt="Printable"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image7" src="assets/IconsofServices/printable@2x.png" alt="Printable"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'PrintDuplicateReceipt' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'PrintDuplicateReceipt' | translate}}</span> <span
                                                    class="sr-only">Toggle Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">





                                                <li><a role="menuitem" tabindex="-1"
                                                        href="Printduplicatereciept.aspx">{{'PrintDuplicateReceipt' |
                                                        translate}}</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div6">
                                    <div class="app-icon-alt">

                                        <img id="Image8" src="assets/IconsofServices/procedure@2x.png"
                                            alt="Application Procedure" style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image9" src="assets/IconsofServices/procedure@2x.png"
                                            alt="Application Procedure" style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'ApplicationProcedure' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'ViewDetails' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">


                                                <li><a role="menuitem" tabindex="-1" href="PropReg1.aspx">Property
                                                        Registration details</a></li>
                                                <li class="divider"></li>
                                                <li><a role="menuitem" tabindex="-1"
                                                        href="Applicationprocedure1.aspx">Property Mutation details</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a role="menuitem" tabindex="-1" href="WaterTapReg1.aspx">Check File
                                                        Status </a></li>
                                                <li class="divider"></li>
                                                <li><a role="menuitem" tabindex="-1" href="TradeLicense1.aspx">Trade
                                                        Licence Details</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div7">
                                    <div class="app-icon-alt">

                                        <img id="Image10" src="assets/IconsofServices/forms@2x.png" alt="Online Payment"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image11" src="assets/IconsofServices/forms@2x.png" alt="Online Payment"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">
                                            {{'OnlinePaymentDuplicateReceipt' | translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'Download' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a role="menuitem" tabindex="-1" href="downloadableforms.aspx">Khata
                                                        / Property transfer form </a></li>
                                                <li class="divider"></li>
                                                <li><a role="menuitem" tabindex="-1" href="downloadableforms.aspx">Trade
                                                        Licence</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="online-app-box">
                                <div class="online-app" id="Div8">
                                    <div class="app-icon-alt">

                                        <img id="Image12" src="assets/IconsofServices/emargency.png" alt="Downloadable"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-icon spin circle">

                                        <img id="Image13" src="assets/IconsofServices/emargency.png" alt="Downloadable"
                                            style="border-width:0px;">
                                    </div>
                                    <div class="app-details">
                                        <h2 class="text-uppercase primary-color app-name">{{'EmargencyContacts' |
                                            translate}}</h2>

                                    </div>
                                    <div class="badge">
                                    </div>
                                    <div class="app-actions">
                                        <div class="btn-group dropup">

                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                <span>{{'ViewDetails' | translate}}</span> <span class="sr-only">Toggle
                                                    Dropdown</span>
                                                <span class="fa fa-angle-up"></span>

                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">


                                                <li><a role="menuitem" tabindex="-1"
                                                        href="onlineservices.aspx#Emargency">Wardwise Emargency Contacts
                                                        Details</a></li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </section>

    </section>
</div>