@font-face {
    font-family: 'NotoSansKannada';
    src: url('https://fonts.gstatic.com/s/notosanskannada/v11/2-cv6J9X4ZCz3mOuvCCXgfLoBQo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  